<div class="panel">
<h1>Create Thine Account</h1>

<form name="form" novalidate ng-submit="submit()">

<table class="mbl">
<tbody>

<tr>
    <td colspan="2">
        <label>
            <strong>Username?</strong>
            <small><em>What shall we call you?  Also log in with this.</em></small>
        </label>
    </td>
</tr>
<tr>
    <td>
        <input type="text" name="username" required unique-username value="" ng-model="newAccount.username" />
    </td>
    <td>
        <span class="form-error" ng-show="form.username.$dirty && form.username.$error.required">Please enter a username</span>
        <span class="form-error" ng-show="form.username.$dirty && form.username.$error.unique">That username is already taken</span>
    </td>
</tr>

<!--
<p>
<label><strong>Email?</strong> <small><em>Every day we'll send you an activity summary.</em></small></label>
<input type="email" name="email" required unique="email" value="" ng-model="newAccount.email" blur="checkEmail" />
#<span ng-show="form.email.$error.required">Please enter an email</span>
<span ng-show="form.email.$error.email">Please enter a valid email</span>
<span ng-show="form.email.$error.unique">That email is already taken</span>
</p>
-->


<tr>
    <td colspan="2">
        <label>
            <strong>Password?</strong>
            <small><em>Make it real secure.</em></small>
        </label>
    </td>
</tr>
<tr>
    <td>
        <input type="password" name="password" required value="" ng-model="newAccount.password" />
    </td>
    <td>
        <span class="form-error" ng-show="form.password.$dirty && form.password.$error.required">Please enter a password</span>
    </td>
</tr>
<tr>
    <td colspan="2">
        <label>
            <strong>Retype Password?</strong>
            <small><em>Just in case.</em></small>
        </label>
    </td>
</tr>
<tr>
    <td>
        <input type="password" name="password2" value="" ng-model="newAccount.password2" required value-matches="newAccount.password" />
    </td>
    <td>
        <span class="form-error" ng-show="form.password2.$error.valueMatches">Passwords don't match</span>
    </td>
</tr>
</tbody>
</table>

<input type="submit" class="call-to-action-button" value="Create that account!" ng-disabled="!form.$valid"/>
</form>
</div>
