body {
//    background-image: url(/static/images/tiny_grid.png);
    background-image: url(/static/images/tweed.png);
}

@grid-size: 48px;
@unit-size: 22px;

.color-swatch {
    width: 120px;
    text-align: center;
    font-size: 17px;
    height: 50px;
    border: 2px solid #333;
    position: relative;
}

#top-coords {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-left: @grid-size;
    .top-coord {
        width: @grid-size;
        height: @grid-size/2;
        text-align: center;
        float: left;
    }
}
#side-coords {
    color: white;
    font-size: 16px;
    font-weight: bold;
    .side-coord {
        width: @grid-size;
        height: @grid-size;
        line-height: @grid-size;
        text-align: center;
    }
}

#board {
    background-color: white;
    margin-left: @grid-size;
    position: relative;
    font-size: 16px;
    border: 2px solid #444;
    overflow: hidden;

    .sector {
        position: absolute;
        width: @grid-size*10;
        height: @grid-size*10;
        &:active {
            cursor: move;
        }
    }
    .grid-square {
        background-image: url(/static/images/grid.png);
        width: @grid-size;
        height: @grid-size;
        position: absolute;
        &:hover {
            border: 6px solid black;
            box-shadow: inset 0 0 0 1px white;

            margin-left: -6px;
            margin-top: -6px;
            width: @grid-size + 12;
            height: @grid-size + 12;
            border-radius: 3px;
            z-index: 10;
        }
    }
    .resource {
        background-image: url(/static/images/resource-tile.png);
        width: @grid-size;
        height: @grid-size;
        line-height: @grid-size;
        color: white;
        text-shadow: 1px 0 0 black, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black;
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: 0;
        left: 0;
    }
    .wall {
        background-image: url(/static/images/wall-tile.png);
        width: @grid-size;
        height: @grid-size;
        line-height: @grid-size;
        text-align: center;
        color: white;
        text-shadow: 1px 0 0 black, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black;
        font-weight: bold;
        position: absolute;
        left: 0;
        top: 0;
    }
    .unit {
        width: @unit-size;
        height: @unit-size;
        line-height: @unit-size;
        text-align: center;
        font-weight: bold;
        color: white;
        text-shadow: 1px 0 0 black, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black;
        font-size: 16px;
        border-radius: @unit-size - 2;
        border: 1px solid black;
        display: block;
        position: absolute;

        &.first { z-index: 100; }
        &.second { z-index: 200; }
        &.third { z-index: 300; }
        &.fourth { z-index: 400; }

        &.first.one {
            left: 11px;
            top: 11px;
        }

        &.first.two {
            left: 0px;
            top: 0px;
        }
        &.second.two {
            right: 0px;
            bottom: 0px;
        }

        &.first.three {
            left: 0px;
            top: 0px;
        }
        &.second.three {
            right: 0px;
            top: 8px;
        }
        &.third.three {
            left: 4px;
            bottom: 0px;
        }

        &.first.four {
            left: 2px;
            top: -2px;
        }
        &.second.four {
            right: -2px;
            top: 2px;
        }
        &.third.four {
            right: 2px;
            bottom: -2px;
        }
        &.fourth.four {
            left: -2px;
            bottom: 2px;
        }
    }
}

.action-buttons {
    .btn {
        font-size: 16px;
}
    margin-left: 48px;
    margin-bottom: 6px;
}

.arrow-controls {
    width: 150px;
    height: 106px;
    font-size: 24px;
    position: relative;
    .button {
        position: absolute;
        padding: 8px 14px;
    }
    .go-left {
        left: 0;
        top: 24px;
    }
    .go-up {
        left: 50px;
        top: 0;
    }
    .go-down {
        left: 50px;
        bottom: 0;
    }
    .go-right {
        right: 0;
        top: 24px;
    }
}

.disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#players-summary {
    float: right;
}
