html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* CLEARFIX */
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
#preload {
  display: none;
}
body {
  background-image: url(/static/images/tweed.png);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Patua One', sans-serif;
}
h1 {
  margin-left: 5px;
  font-size: 26px;
  line-height: 35px;
  color: white;
  text-shadow: 2px 2px 4px black;
}
h1 a {
  color: white;
  text-shadow: 2px 2px 4px black;
  text-decoration: none;
}
h2 {
  text-shadow: 2px 2px 4px black;
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
}
a {
  color: #222;
}
.errorlist {
  font-weight: bold;
  color: red;
}
p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 20px;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.pull-center {
  margin: 0 auto;
}
small {
  font-size: 80%;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
label {
  font-weight: bold;
  display: block;
  font-size: 16px;
}
label:focus {
  outline: 0;
}
.form-group {
  margin: 10px 0;
}
input[type="text"],
input[type="password"] {
  font-size: 16px;
  padding: 4px;
  border-radius: 4px;
  border: none;
  color: #222;
  box-shadow: inset 0px 1px 1px #444;
  width: 100%;
}
.btn {
  text-shadow: 1px 1px 1px black;
  text-align: center;
  padding: 10px;
  display: block;
  margin: 10px 0;
  height: 42px;
  line-height: 22px;
  background-color: #444;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  box-shadow: inset 0 1px 1px #ccc;
  border: 1px solid #222;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  background-color: #666;
  outline: none;
}
.btn:active {
  box-shadow: inset 0 1px 1px black;
  outline: none;
}
.btn.btn-blue {
  background-color: #3276b1;
}
.btn.btn-blue:hover {
  background-color: #428bca;
}
.btn.btn-green,
.btn.active {
  background-color: #47a447;
}
.btn.btn-green:hover,
.btn.active:hover {
  background-color: #5cb85c;
}
.btn.btn-yellow {
  background-color: #ed9c28;
}
.btn.btn-yellow:hover {
  background-color: #f0ad4e;
}
.game-toolbar {
  float: left;
  margin-top: 5px;
  width: 110px;
  padding: 0 3px;
}
.btn-action {
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  padding: 4px;
  height: 52px;
}
.btn-action .icon {
  background-image: url(/static/images/action-icons.png);
  width: 32px;
  height: 32px;
  margin-top: 6px;
  margin-left: 2px;
  display: block;
  float: left;
}
.btn-action.btn-move .icon {
  background-position: 0    0;
}
.btn-action.btn-road .icon {
  background-position: -32px 0;
}
.btn-action.btn-city .icon {
  background-position: -64px 0;
}
.btn-action.btn-recruit .icon {
  background-position: -96px 0;
}
.btn-action.btn-scavenge .icon {
  background-position: -128px 0;
}
.btn-action.btn-tree .icon {
  background-position: -160px 0;
}
.btn-action.btn-mine .icon {
  background-position: -192px 0;
}
.btn-action.btn-plant .icon {
  background-position: -224px 0;
}
.btn-action.btn-undo .icon {
  background-position: -256px 0;
}
.btn-action.btn-attack .icon {
  background-position: -288px 0;
}
.btn-action.btn-initial .icon {
  background-position: -320px 0;
}
.header {
  height: 35px;
  width: 100%;
  color: white;
}
.header .left-menu,
.header .right-menu {
  line-height: 35px;
  margin-right: 5px;
  margin-left: 5px;
}
.header .left-menu li,
.header .right-menu li {
  display: inline;
}
.header .left-menu li a,
.header .right-menu li a {
  color: white;
  text-shadow: 2px 2px 4px black;
  text-decoration: none;
}
.home,
.create_account {
  padding: 20px;
}
.home h1,
.create_account h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
.home-btn-container a {
  display: block;
  width: 245px;
}
.color-swatch {
  width: 120px;
  text-align: center;
  font-size: 17px;
  height: 50px;
  border: 2px solid #333;
  position: relative;
}
.container {
  background-color: rgba(255, 255, 255, 0.8);
  width: 600px;
  margin: 0 auto;
  box-shadow: 0 0 8px black;
  border-radius: 6px;
  padding: 40px;
}
.board {
  cursor: crosshair;
  display: block;
  float: left;
  position: relative;
  font-size: 16px;
  margin-left: 2px;
  box-shadow: 0 8px 8px black;
  overflow: hidden;
}
.arrow-controls {
  width: 150px;
  height: 106px;
  font-size: 24px;
  position: relative;
}
.arrow-controls .button {
  position: absolute;
  padding: 8px 14px;
}
.arrow-controls .go-left {
  left: 0;
  top: 24px;
}
.arrow-controls .go-up {
  left: 50px;
  top: 0;
}
.arrow-controls .go-down {
  left: 50px;
  bottom: 0;
}
.arrow-controls .go-right {
  right: 0;
  top: 24px;
}
.arrow {
  z-index: 100;
  position: absolute;
  pointer-events: none;
  width: 48px;
  height: 48px;
}
.arrow.west-end {
  background-image: url(/static/images/newtiles.png);
  background-position: 0 0;
}
.arrow.south-end {
  background-image: url(/static/images/newtiles.png);
  background-position: -48px 0;
}
.arrow.east-end {
  background-image: url(/static/images/newtiles.png);
  background-position: -96px 0;
}
.arrow.north-end {
  background-image: url(/static/images/newtiles.png);
  background-position: -144px 0;
}
.arrow.south-east,
.arrow.east-south {
  background-image: url(/static/images/newtiles.png);
  background-position: 0 -48px;
}
.arrow.north-east,
.arrow.east-north {
  background-image: url(/static/images/newtiles.png);
  background-position: -48px -48px;
}
.arrow.west-north,
.arrow.north-west {
  background-image: url(/static/images/newtiles.png);
  background-position: -96px -48px;
}
.arrow.west-south,
.arrow.south-west {
  background-image: url(/static/images/newtiles.png);
  background-position: -144px -48px;
}
.arrow.east-start,
.arrow.start-east {
  background-image: url(/static/images/newtiles.png);
  background-position: 0 -96px;
}
.arrow.north-start,
.arrow.start-north {
  background-image: url(/static/images/newtiles.png);
  background-position: -48px -96px;
}
.arrow.west-start,
.arrow.start-west {
  background-image: url(/static/images/newtiles.png);
  background-position: -96px -96px;
}
.arrow.south-start,
.arrow.start-south {
  background-image: url(/static/images/newtiles.png);
  background-position: -144px -96px;
}
.arrow.east-west,
.arrow.west-east {
  background-image: url(/static/images/newtiles.png);
  background-position: 0 -144px;
}
.arrow.north-south,
.arrow.south-north {
  background-image: url(/static/images/newtiles.png);
  background-position: -48px -144px;
}
.disable-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#players-summary {
  float: right;
}
/* Messages page */
body.messages .tab-content {
  background-color: white;
}
body.messages .table td {
  vertical-align: middle;
}
body.messages .accordion {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.no-bottom-margin {
  margin-bottom: 0 !important;
}
.trophy-case .trophy img {
  width: 100%;
  height: 100%;
}
.home-minimap {
  text-align: center;
  padding: 20px 0;
}
.square-action-popup {
  width: 264px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: white;
  border: 2px solid #444;
}
.square-action-popup .container {
  padding-bottom: 20px;
}
.square-action-popup .close {
  margin-top: 10px;
}
.moving-through {
  background-image: url(/static/images/footprints-tile.png) !important;
}
.stats-bar {
  position: relative;
  float: left;
  height: 26px;
  width: 200px;
  background-color: #222;
  box-shadow: inset 0px 1px 0px 0px #888;
  margin-top: 5px;
  margin-left: 2px;
  color: white;
  font-size: 14px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.stats-bar .stat-box {
  background-color: #222;
  box-shadow: inset -1px 1px 0px 0px #888888;
  float: left;
  width: 120px;
  height: 26px;
  line-height: 26px;
  padding: 0 8px;
}
.stats-bar .stat-box:first-child {
  border-top-left-radius: 6px;
  box-shadow: inset -1px 1px 0px 0px #888888, inset 1px 1px 0px 0px #888888;
}
.stats-bar .stat-box.pull-center {
  position: absolute;
  left: 50%;
  margin-left: -60px;
}
