body {
  background-image: url(/static/images/tweed.png);
}
.color-swatch {
  width: 120px;
  text-align: center;
  font-size: 17px;
  height: 50px;
  border: 2px solid #333;
  position: relative;
}
#top-coords {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-left: 48px;
}
#top-coords .top-coord {
  width: 48px;
  height: 24px;
  text-align: center;
  float: left;
}
#side-coords {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
#side-coords .side-coord {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}
#board {
  background-color: white;
  margin-left: 48px;
  position: relative;
  font-size: 16px;
  border: 2px solid #444;
  overflow: hidden;
}
#board .sector {
  position: absolute;
  width: 480px;
  height: 480px;
}
#board .sector:active {
  cursor: move;
}
#board .grid-square {
  background-image: url(/static/images/grid.png);
  width: 48px;
  height: 48px;
  position: absolute;
}
#board .grid-square:hover {
  border: 6px solid black;
  box-shadow: inset 0 0 0 1px white;
  margin-left: -6px;
  margin-top: -6px;
  width: 60px;
  height: 60px;
  border-radius: 3px;
  z-index: 10;
}
#board .resource {
  background-image: url(/static/images/resource-tile.png);
  width: 48px;
  height: 48px;
  line-height: 48px;
  color: white;
  text-shadow: 1px 0 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000, -1px 0 0 #000000;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
}
#board .wall {
  background-image: url(/static/images/wall-tile.png);
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: white;
  text-shadow: 1px 0 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000, -1px 0 0 #000000;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
}
#board .unit {
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-weight: bold;
  color: white;
  text-shadow: 1px 0 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000, -1px 0 0 #000000;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid black;
  display: block;
  position: absolute;
}
#board .unit.first {
  z-index: 100;
}
#board .unit.second {
  z-index: 200;
}
#board .unit.third {
  z-index: 300;
}
#board .unit.fourth {
  z-index: 400;
}
#board .unit.first.one {
  left: 11px;
  top: 11px;
}
#board .unit.first.two {
  left: 0px;
  top: 0px;
}
#board .unit.second.two {
  right: 0px;
  bottom: 0px;
}
#board .unit.first.three {
  left: 0px;
  top: 0px;
}
#board .unit.second.three {
  right: 0px;
  top: 8px;
}
#board .unit.third.three {
  left: 4px;
  bottom: 0px;
}
#board .unit.first.four {
  left: 2px;
  top: -2px;
}
#board .unit.second.four {
  right: -2px;
  top: 2px;
}
#board .unit.third.four {
  right: 2px;
  bottom: -2px;
}
#board .unit.fourth.four {
  left: -2px;
  bottom: 2px;
}
.action-buttons {
  margin-left: 48px;
  margin-bottom: 6px;
}
.action-buttons .btn {
  font-size: 16px;
}
.arrow-controls {
  width: 150px;
  height: 106px;
  font-size: 24px;
  position: relative;
}
.arrow-controls .button {
  position: absolute;
  padding: 8px 14px;
}
.arrow-controls .go-left {
  left: 0;
  top: 24px;
}
.arrow-controls .go-up {
  left: 50px;
  top: 0;
}
.arrow-controls .go-down {
  left: 50px;
  bottom: 0;
}
.arrow-controls .go-right {
  right: 0;
  top: 24px;
}
.disable-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#players-summary {
  float: right;
}
/* Messages page */
body.messages .tab-content {
  background-color: white;
}
body.messages .table td {
  vertical-align: middle;
}
body.messages .accordion {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.no-bottom-margin {
  margin-bottom: 0 !important;
}
