<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Turnlandia: A MMOBG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Turnlandia: The Game, a massively multiplayer online board game">
    <meta name="author" content="David Colgan">

    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">

    <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>

    {% block head %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
</head>
<body class="{% block body_class %}{% endblock %}">
<!--
IT WAS DETERMINED THAT THIS GAME NEEDED MOAR COWBELL BY JOEB3219
     (__)
     (oo)
    /-\/-\
   /      \
   |      |
   |      |
  /        \
 /__________\
      \\
      (_)
THEREFORE NOW IT DOES
-->
    {% if request.user.is_authenticated %}
    <div class="header">
        <h1 class="pull-left"><a href="{% url 'game' %}">Turnlandia!</a></h1>

        <ul class="left-menu pull-left">
            <li><a>
                {% if request.user.leader_name %}
                Hail {{ request.user.leader_name }}{% if request.user.people_name %}, leader of the {{ request.user.people_name }}{% endif %}{% if request.user.country_name %} of {{ request.user.country_name }}{% endif %}!
                {% endif %}
            </a></li>
            <li><a>({{ request.user.username }})</a></li>
        </ul>



        {% comment %}
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'game' %}">&nbsp;Join {{ player_count }} Players on Turn {{ day_counter }}</a></li>
            {% else %}
            <li><a href="{% url 'create-account' %}">&nbsp;Join {{ player_count }} Players on Turn {{ day_counter }}</a></li>
            {% endif %}
        {% endcomment %}
        <ul class="right-menu pull-right">
            <!--<li><a href="{% url 'how-to-play' %}">How to Play</a></li> |-->
            <li><a href="{% url 'messages' %}">Messages</a></li> |
            <li><a href="{% url 'bug_tracker' %}">Submit a Bug Report</a></li> |
            <li><a href="{% url 'settings' %}">Account Settings</a></li> |
            <li><a href="{% url 'logout' %}">Log Out</a></li>
        </ul>
    </div>
    {% endif %}

    {% block content %}{% endblock %}


    <script src='{{ STATIC_URL }}js/lib/jquery.js'></script>
    <script src="{{ STATIC_URL }}js/lib/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}js/lib/jquery.mousewheel.js"></script>
    <script src='{{ STATIC_URL }}js/lib/lodash.js'></script>
    <script src="{{ STATIC_URL }}js/lib/astar.js"></script>
    <script src="{{ STATIC_URL }}js/lib/knockout-2.3.0.js"></script>

    <script src="{{ STATIC_URL }}js/util.js"></script>
    <script src="{{ STATIC_URL }}js/camera.js"></script>
    <script src="{{ STATIC_URL }}js/fetcher.js"></script>
    <script src="{{ STATIC_URL }}js/unit.js"></script>
    <script src="{{ STATIC_URL }}js/square.js"></script>
    <script src="{{ STATIC_URL }}js/board.js"></script>
    <script src="{{ STATIC_URL }}js/actions.js"></script>
    <script src="{{ STATIC_URL }}js/system.js"></script>

    <script src="{{ STATIC_URL }}js/all-pages.js"></script>
    {% block foot %}{% endblock %}
</body>
</html>
