{% extends "base.html" %}
{% load widget_tweaks %}

{% block body_class %}bug_tracker{% endblock %}

{% block title %}Bug Tracker{% endblock %}

{% block content %}
<iframe src="https://docs.google.com/forms/d/1sjzcx-_Uj79xjxIHslDYOqghExEIv9To3mQ1sZQmLOY/viewform?embedded=true" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

<iframe src="https://docs.google.com/spreadsheet/ccc?key=0Ahh2ZiNrd9RDdFZRNE9aOWltM1lfYUVUUnNwQmViZEE&usp=sharing" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

{% endblock %}

