{% extends "base.html" %}
{% load widget_tweaks %}
{% load bootstrap %}

{% block title %}Create An Account{% endblock %}

{% block body_class %}create_account{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="well">
                <form action="" method="POST">{% csrf_token %}
                    <h2>Just a few questions for you:</h2>
                    {{ form|bootstrap }}
                    <input type="submit" class="btn btn-success" value="Create that account!" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
