{% extends "base.html" %}
{% load custom_tags %}
{% block title %}Play that Game{% endblock %}

{% block head %}
<style type="text/css">
    #canvas {
        display: block;
        margin: 0 auto;
    }
</style>
{% endblock %}

{% block foot %}
{% endblock %}

{% block body_class %}game{% endblock %}

{% block content %}

<div class="stats-bar">
    <div class="stat-box pull-left">Total Units: <span id="total-unit-display"></span></div>
    <div class="stat-box pull-left">Wood: <span id="wood-display">100</span></div>
    <div class="stat-box pull-left">Food: <span id="food-display">100</span></div>
    <div class="stat-box pull-left">Ore: <span id="ore-display">100</span></div>
    <div class="stat-box pull-left">Money: <span id="money-display">100</span></div>
    <div class="stat-box pull-left">Turn: {{ day_counter }}</div>
</div>

<div class="board">
    <div class="action-ring">
        <div class="inner">

            <button class="btn btn-action btn-move"     data-action="move"     type="button"><i class="icon"></i><span>Move<br/>Unit</span></button>
            <button class="btn btn-action btn-attack"   data-action="attack"   type="button"><i class="icon"></i>Attack<br/>Unit</button>
            <button class="btn btn-action btn-road"     data-action="road"     type="button"><i class="icon"></i>Build<br/>Road</button>
            <button class="btn btn-action btn-city"     data-action="city"     type="button"><i class="icon"></i>Build<br/>City</button>
                <button class="btn btn-action btn-undo"     data-action="undo"     type="button"><i class="icon"></i>Undo</button>
            <button class="btn btn-action btn-recruit"  data-action="recruit"  type="button"><i class="icon"></i>Recruit<br/>Unit</button>
            <button class="btn btn-action btn-scavenge" data-action="scavenge" type="button"><i class="icon"></i>Find<br/>Food</button>
            <button class="btn btn-action btn-tree"     data-action="tree"     type="button"><i class="icon"></i>Clear<br/>Forest</button>
            <button class="btn btn-action btn-mine"     data-action="mine"     type="button"><i class="icon"></i>Mine<br/>Ore</button>

        </div>
    </div>
    <canvas class="board-canvas"></canvas>
    {% comment %}
            <button class="btn btn-action btn-plant"    data-action="plant"    type="button"><i class="icon"></i>Plant<br/>Forest</button>
            {% endcomment %}
</div>

<div id="preload">
    <img id="othertiles-image" src="{{ STATIC_URL }}images/newtiles.png" />
    <img id="grid-image" src="{{ STATIC_URL }}images/grid.png" />
    <img id="forest-tiles" src="{{ STATIC_URL }}images/forest-tiles.png" />
    <img id="water-tiles" src="{{ STATIC_URL }}images/water-tiles-thin.png" />
    <img id="mountains-tiles" src="{{ STATIC_URL }}images/mountains-tiles.png" />
    <img id="road-tiles" src="{{ STATIC_URL }}images/dirtroad-tiles.png" />
    <img id="city-tiles" src="{{ STATIC_URL }}images/city-tiles.png" />
</div>

{% endblock %}
