{% extends "base.html" %}
{% load custom_tags %}
{% block title %}Play that Game{% endblock %}

{% block head %}
<script>
    window.accountID = {{ request.user.id }};
    window.accountColor = '{{ request.user.color }}';
</script>
<style type="text/css">
    #canvas {
        display: block;
        margin: 0 auto;
    }
</style>
{% endblock %}

{% block goesinfoot %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/impact/impact.js"></script>
<script>
    ig.prefix = '{{ STATIC_URL }}';
    ig.lib = 'js/lib/';
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/game/main.js"></script>
{% endblock %}

{% block body_class %}game{% endblock %}

{% block canvas %}
	<canvas id="canvas"></canvas>
{% endblock %}




{% block content %}


<!--
<div id="players-summary">
    <ul data-bind="foreach: players">
        <li data-bind="text: leader_name + ', leader of the ' + people_name"></li>
    </ul>
</div>
-->


<div class="action-buttons disable-select cf">
    <!-- TODO something is causing these radio buttons to have a thin strip above and below the icon to not click the button
    it seems to be that padding doesnt let you click on things
        -->
    <!-- ko if: unitAction() === 'initial' -->
    <label data-bind="css: { active: unitAction() === 'initial' }"><input type="radio" data-bind="checked: unitAction" value="initial"><img src="{{ STATIC_URL }}images/place-icon.png" /> Initial Placement</label>
    <!-- /ko -->

    <!-- ko ifnot: unitAction() === 'initial' -->
    <label data-bind="css: { active: unitAction() === 'place'   }">
        <div class="unit" data-bind="
                    style: {
                        backgroundColor: accountColor,
                        borderBottomWidth: '3px'
                    },
                    text: unplacedUnits"></div>
        <input type="radio" data-bind="checked: unitAction" value="place"  >
        <img src="{{ STATIC_URL }}images/place-icon.png" /> Place Unit
    </label>
    <label data-bind="css: { active: unitAction() === 'remove'  }"><input type="radio" data-bind="checked: unitAction" value="remove" ><img src="{{ STATIC_URL }}images/remove-icon.png"/> Remove Unit</label>
    <label data-bind="css: { active: unitAction() === 'settle'  }"><input type="radio" data-bind="checked: unitAction" value="settle" ><img src="{{ STATIC_URL }}images/settle-icon.png"/> Settle Units</label>
    <!--
    TODO implement me
    <label data-bind="css: { active: unitAction() === 'give'    }"><input type="radio" data-bind="checked: unitAction" value="give"   ><img src="{{ STATIC_URL }}images/give-icon.png"  /> Give Units</label>
    -->
    <label data-bind="css: { active: unitAction() === 'wall'    }"><input type="radio" data-bind="checked: unitAction" value="wall"   ><img src="{{ STATIC_URL }}images/wall-icon.png"  /> Build Wall</label>
    <!-- /ko -->
</div>

{% comment %}
<div class="current-x-y">
    <span data-bind="text: viewX() + ' ' + viewY()"></span>
</div>
{% endcomment %}

{% comment %}
<div class="arrow-controls">
    <a class="go-left "><i class="foundicon-left-arrow"></i></a>
    <a class="go-up   "><i class="foundicon-up-arrow"></i></a>
    <a class="go-down "><i class="foundicon-down-arrow"></i></a>
    <a class="go-right"><i class="foundicon-right-arrow"></i></a>
</div>
{% endcomment %}

<div id="top-coords" class="disable-select cf" data-bind="foreach: topCoords">
    <div class="top-coord" data-bind="text: $data"></div>
</div>
<div id="side-coords" class="disable-select cf" data-bind="foreach: sideCoords">
    <div class="side-coord" data-bind="text: $data"></div>
</div>

<div id="board">
    <!-- ko foreach: sectors -->
        <div class="sector disable-select" data-bind="
            style: {
                left: (col * GRID_SIZE + $parent.viewX()) + 'px',
                top: (row * GRID_SIZE + $parent.viewY()) + 'px'
            }
            ">
            <!-- ko foreach: squares -->
                <div class="grid-square" data-bind="
                    click: $root.modifyUnit,
                    style: {
                        backgroundColor: ownerColor,
                        top: top,
                        left: left,
                        cursor: $root.currentCursor()
                    }">
                    <!-- ko foreach: units -->
                        <div class="unit" 
                            data-bind="css: $root.getUnitClass($index, $parent),
                            style: {
                                backgroundColor: ownerColor,
                                borderBottomWidth: ((amount() + 3)/2) + 'px',
                                marginTop: -((amount() + 3)/2) + 'px'
                            },
                            text: amount">
                        </div>
                    <!-- /ko -->
                    <div class="wall" data-bind="
                        visible: wallHealth() > 0,
                        text: wallHealth">
                    </div>
                    <div class="resource" data-bind="
                        visible: resourceAmount() > 0,
                        text: resourceAmount">
                    </div>
                </div>
            <!-- /ko -->
        </div>
    <!-- /ko -->
</div>
{% endblock %}
