{% extends "base.html" %}
{% load custom_tags %}
{% block title %}Home{% endblock %}

{% block body_class %}home{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
    <h1>Turnlandia</h1>
    <h2>A Massively Multiplayer<br/>Online Board Game (MMOBG)</h2>

    <p>Compete with more than <strong>{{ player_count }}</strong> other players to control the most territory on an infinite board.</p>

    <div class="home-btn-container cf">
        <a href="{% url 'create-account' %}" class="btn btn-green pull-left">Sign Up Now for Free!</a>
        <a href="{% url 'login' %}" class="btn btn-blue pull-right">Log In!</a>
    </div>

</div>
{% endblock %}

