<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Turn Based: The Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Turn Based: The Game, a massively multiplayer online board game">
    <meta name="author" content="David Colgan">

    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">

    <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">

    <script data-main="{{ STATIC_URL }}js/src/system" src="{{ STATIC_URL }}js/lib/require.js"></script>

</head>
<body class="requiretest">



<!--
    <script src='{{ STATIC_URL }}js/lib/jquery-2.0.1.min.js'></script>
    <script src='{{ STATIC_URL }}js/lib/lodash.js'></script>
    <script src="{{ STATIC_URL }}js/lib/astar/graph.js"></script>
    <script src="{{ STATIC_URL }}js/lib/astar/astar.js"></script>
    <script src="{{ STATIC_URL }}js/lib/colorpicker/colorpicker.min.js"></script>
    <script src="{{ STATIC_URL }}js/lib/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}js/lib/knockout-2.3.0.js"></script>
    <script src="{{ STATIC_URL }}js/lib/spin.min.js"></script>
    <script src="{{ STATIC_URL }}js/src/util.js"></script>
    <script src="{{ STATIC_URL }}js/src/board.js"></script>
    <script src="{{ STATIC_URL }}js/src/action.js"></script>
    <script src="{{ STATIC_URL }}js/src/system.js"></script>
    <script src="{{ STATIC_URL }}js/src/all-pages.js"></script>
    -->

</body>
</html>

