{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Account Settings{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/lib/colorpicker/css/colorpicker.css">
{% endblock %}
{% block foot %}
<script src="{{ STATIC_URL }}js/lib/colorpicker/colorpicker.min.js"></script>
{% endblock %}

{% block body_class %}settings{% endblock %}


{% block content %}
<div class="container">
    {{ form.non_field_errors }}
    <form action="" method="POST">{% csrf_token %}
        <h2>Set up your Account</h2>

        <div class="form-group">
            <label class="control-label">Team Color? <small><em>What color should your game pieces be?</em></small></label>
            {{ form.color|add_class:"color-swatch"|attr:"placeholder: Click Me"|add_class:"form-control" }}
            {{ form.color.errors }}
        </div>

        <div class="form-group">
            <label class="control-label">Your Title? <small><em>What do the people of your country call you?</em></small></label>
            {{ form.leader_name|attr:'placeholder: Gandalf, Strong Bad, Larry King Live, etc'|add_class:"form-control"|attr:'data-bind: value: leaderName, valueUpdate: "keyup"' }}
            {{ form.leader_name.errors }}
        </div>

        <div class="form-group">
            <label class="control-label">Your People Name? <small><em>What do you call the people of your country?</em></small></label>
            {{ form.people_name|attr:'placeholder: Hylians, Hobbits, Koopas, etc'|add_class:"form-control"|attr:'data-bind: value: peopleName, valueUpdate: "keyup"' }}
            {{ form.people_name.errors }}
        </div>

        <p><span data-bind="visible: leaderName()">Hail</span> <span data-bind="text: leaderName"></span><span data-bind="visible: leaderName() && peopleName()">, leader of the <span data-bind="text: peopleName"></span></span><span data-bind="visible: leaderName()">!</span></p>




        <input type="submit" class="btn" value="Make it so!" />
    </form>
</div>
{% endblock %}
