{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Account Settings{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/colorpicker/css/colorpicker.css">
{% endblock %}

{% block body_class %}settings{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">

            <div class="well">
                {{ form.non_field_errors }}
                <form action="" method="POST">{% csrf_token %}
                    <legend>Set up your Account</legend>

                    <div class="form-group">
                        <label>Email? <small><em>Optional, if you set it we'll email you a daily summary of the game.</em></small></label>
                        {{ form.email|add_class:"form-control" }}
                        {{ form.email.errors }}
                    </div>

                    <div class="form-group">
                        <label>Team Color? <small><em>What color should your game pieces be?</em></small></label>
                        {{ form.color|add_class:"color-swatch"|attr:"placeholder: Click Me"|add_class:"form-control" }}
                        {{ form.color.errors }}
                    </div>

                    <div class="form-group">
                        <label>Your Title? <small><em>What do the people of your country call you?</em></small></label>
                        {{ form.leader_name|attr:'placeholder: Gandalf, Strong Bad, Larry King Live, etc'|add_class:"form-control" }}
                        {{ form.leader_name.errors }}
                    </div>

                    <div class="form-group">
                        <label>Your People Name? <small><em>What do you call the people of you country?</em></small></label>
                        {{ form.people_name|attr:'placeholder: Hylians, Hobbits, Koopas, etc'|add_class:"form-control" }}
                        {{ form.people_name.errors }}
                    </div>

                    <p>Hail <span data-bind="text: leaderName"></span><span data-bind="visible: !leaderName()">!</span><span data-bind="visible: leaderName() && peopleName()">, leader of the <span data-bind="text: peopleName"></span>!</span></p>

                    <input type="submit" class="btn btn-success" value="Make it so!" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
